body{
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
}

p{
    text-align: justify;
}

table{
    border: 1px solid black;
}

th{
    background-color: rgba(128, 128, 128, 0.503);
}

td{
    border: 1px solid black;
}

caption{
    background-color: black;
    color: white;
}