body{
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
}

p{
    text-align: justify;
}

table{
    border: 1px solid black;
}

th{
    background-color: rgba(128, 128, 128, 0.503);
}

td{
    border: 1px solid black;
}

caption{
    background-color: black;
    color: white;
}

nav{
    background-color: rgb(255, 255, 120);
    border-style: solid;
    border-radius: 5%;
    text-indent: 10pt;
}

div.button{
    width: 200px;
    height: 100px;
    font-size: 20pt;
    text-align: center;
    
    border-style: solid;
    border-color: black;
    border-radius: 5%;
    background-color: red;
    color: white;
    font-family: Arial, Helvetica, sans-serif
}